h2 {
    color: #2A5D67;
}

.expense-container h3 {
    color: #2A5D67;
}

.expense-container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-items: left;
    gap: 10px;
    margin-bottom: 50px;   
    margin-left: 20%;
    margin-right: 20%;
    background-color: F4F4F4;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1),0 2px 10px 0 rgba(0,0,0,0.08);
    transition: 0.5s;
}

.expense-container input, .expense-container select {
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.expense-container li {
    list-style-type: none;
    margin-bottom: 10px;
}

.util-category {
    margin-top: 10px;
}

.hourlySection {
    margin-top: 10px;
}

.hourlySection input {
    margin-top: 10px;
    margin-bottom: 10px;
}

.salarySection { 
    display: none;
    margin-top: 10px;
}

.salarySection input { 
    margin-top: 10px;
}

.contractSection {
    display: none;
    margin-top: 10px;
}

.contractSection input, .contractSection button {
    margin-top: 10px;
}

#contractsText {
    margin-top: 10px;
}

.chart-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    align-items: center;
    margin-bottom: 50px;   
    gap: 50px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 25px;
    transition: 0.5s;
}

#calculateBtn, #exportBtn {
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#calculateBtn:hover, #exportBtn:hover {
    background-color: #2A5D67;
    color: white;
    transition-duration: 0.2s;
}

#myChart {
    width: 80%;
}

.results-container {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    align-items: left;
    gap: 50px;
    margin-bottom: 50px;   
    margin-left: 20%;
    margin-right: 20%;
    background-color: F4F4F4;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1),0 2px 10px 0 rgba(0,0,0,0.08);
    transition: 0.5s;
    justify-content: space-around;
}

.results-object {
    display: flex;
    flex-direction: column;
    max-width: 50%;
}

@media only screen and (max-width: 700px) {

    .expense-container {
        margin-left: 5%;
        margin-right: 5%;
        transition: 0.5s;
    }

    .chart-container {
        margin-left: 5%;
        margin-right: 5%;
        transition: 0.5s;
    }

    .results-container {
        margin-left: 5%;
        margin-right: 5%;
        transition: 0.5s;
        flex-direction: column;
    }
}